---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Faqs as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  items = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-4xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div data-animate data-anim-type="fade-up" data-anim-delay="100" data-anim-stagger="60" class={`max-w-6xl mx-auto ${classes?.container ?? ''}`}>
    {
      items.map((item) => (
        <details class="border-b border-gray-200 py-4 dark:border-[#4c8733]">
          <summary class="flex cursor-pointer items-center justify-between text-lg">
            {item.title}
            <span class="ml-2">+</span>
          </summary>
          <p class="mt-2 text-gray-700 dark:text-slate-100">{item.description}</p>
        </details>
      ))
    }
  </div>
</WidgetWrapper>
