---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import Logo2 from '~/components/common/Logo-lg.astro';
import type { Hero as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),
  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<section class="not-prose relative pb-10 md:-mt-[80px]" {...id ? { id } : {}}>
  <div class="pointer-events-none absolute inset-0 xl:-top-10" aria-hidden="true">
    <slot name="bg">
      {bg ? <Fragment set:html={bg} /> : null}
    </slot>
  </div>
  <div class="relative mx-auto max-w-7xl px-4 sm:px-6">
    <div class="pointer-events-none pt-0 md:pt-[80px]"></div>
    <Logo2 />
    <div class="">
      <div class="mx-auto max-w-5xl pb-10 text-center md:pb-16">
        {
          title && (
            <h1
              class="leading-tighter mb-4 font-heading text-5xl font-bold leading-10 tracking-tighter dark:text-gray-200 md:text-6xl"
              data-animate="fadeIn"
              data-animate-duration="1000"
              data-animate-delay="200"
              set:html={title}
            />
          )
        }
        {
          tagline && (
            <p
              class="mb-10 font-sans text-lg font-thin uppercase tracking-wide dark:text-white sm:text-lg md:text-3xl"
              data-animate="fadeIn"
              data-animate-duration="800"
              set:html={tagline}
            />
          )
        }
        <div class="mx-auto max-w-3xl">
          {
            subtitle && (
              <p
                class="mb-6 text-lg text-muted dark:text-slate-100"
                data-animate="fadeIn"
                data-animate-duration="800"
                data-animate-delay="400"
                set:html={subtitle}
              />
            )
          }
          {
            actions && (
              <div
                class="m-auto flex max-w-xs flex-col flex-nowrap gap-4 sm:max-w-md sm:flex-row sm:justify-center"
                data-animate="fadeIn"
                data-animate-duration="800"
                data-animate-delay="600"
              >
                {Array.isArray(actions) ? (
                  actions.map((action) => (
                    <div class="flex w-full sm:w-auto">
                      <Button {...(action || {})} class="w-full sm:mb-0" />
                    </div>
                  ))
                ) : (
                  <Fragment set:html={actions} />
                )}
              </div>
            )
          }
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <div class="relative m-auto max-w-5xl">
        {
          image && (
            <div
              class="relative m-auto max-w-5xl"
              data-animate="fadeIn"
              data-animate-duration="1000"
              data-animate-delay="800"
            >
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="mx-auto w-full rounded-md"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  loading="eager"
                  fetchpriority="high"
                  width={1024}
                  height={576}
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
