---
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const {
  quote = await Astro.slots.render('quote'),
  author = await Astro.slots.render('author'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class="mx-auto max-w-3xl p-6 text-center" data-animate="fadeIn" data-animate-duration="800">
    <p class="p-5 font-heading text-4xl text-primary dark:text-secondary">🌿</p>
    <p class="mb-4 text-3xl italic tracking-tight md:text-4xl">{quote}</p>
    <p class="text-l text-gray-500 dark:text-gray-300">({author})</p>
  </div>
</WidgetWrapper>
