---
import Emoji from 'astro-emoji';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const {
  quote = await Astro.slots.render('quote'),
  author = await Astro.slots.render('author'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class="mx-auto max-w-3xl p-6 text-center" data-animate="fadeIn" data-animate-duration="800">
    <p class="p-5 font-heading text-4xl text-primary dark:text-secondary"><Emoji symbol="🌿" label="Leaf" /></p>
    <p class="mb-4 text-3xl italic tracking-tight md:text-4xl">{quote}</p>
    <p class="text-l text-gray-500 dark:text-gray-300">({author})</p>
  </div>
  <Fragment slot="bg">
    <div
      class="dark:bg-dark absolute inset-0 bg-[url(~/assets/images/hippokrates.jpg)] bg-right bg-no-repeat dark:bg-none md:bg-[url(~/assets/images/hippokrates-large.jpg)] md:bg-right md:bg-no-repeat"
    >
    </div>
  </Fragment>
</WidgetWrapper>
