---
import Logo from '~/components/common/Logo-sm.astro';
import ToggleTheme from '~/components/ui/ToggleTheme.astro';
import ToggleMenu from '~/components/ui/ToggleMenu.astro';

import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash } from '~/utils/permalinks';
import type { CallToAction } from '~/types';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<CallToAction>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = 'header',
  links = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  showToggleTheme = false,
  position = 'center',
} = Astro.props;
const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 mx-auto w-full flex-none border-b border-gray-50/0 transition-[opacity] ease-in-out',
  ]}
  {...isSticky ? { 'data-aw-sticky-header': true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div
    class:list={[
      'relative mx-auto flex w-full items-center justify-between px-3 py-3 text-default md:px-6',
      {
        'max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <div class:list={[{ 'md:flex-1': position === 'center' }]}>
      <a aria-label="Startseite" class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
    </div>

    <nav
      class:list={[
        'hidden w-full items-center text-default md:flex',
        {
          'md:flex-1': position === 'center',
          'md:justify-center': position === 'center',
          'md:justify-start': position === 'left',
          'md:justify-end': position === 'right',
        },
      ]}
      aria-label="Main navigation"
    >
      <ul
        class="flex w-full flex-col text-center text-xl font-medium tracking-[0.01rem] md:flex-row md:text-[0.9375rem]"
      >
        {
          links
            .filter((link) => link.text !== 'Home')
            .map(({ text, href, links }) => (
              <li class={links?.length ? 'dropdown' : ''}>
                {links?.length ? (
                  <>
                    <a
                      class="flex items-center whitespace-nowrap px-4 py-3 hover:text-primary dark:hover:text-white"
                      href="#"
                    >
                      {text}
                    </a>
                    <ul class="dropdown-menu dark:md:bg-dark rounded pl-4 text-center font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white/90 md:pl-0 md:backdrop-blur-md">
                      {links.map(({ text: text2, href: href2 }) => (
                        <li>
                          <a
                            class:list={[
                              'hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100',
                              { 'aw-link-active': href2 === currentPath },
                            ]}
                            href={href2}
                          >
                            {text2}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </>
                ) : (
                  <a
                    class:list={[
                      'flex items-center whitespace-nowrap px-4 py-3 hover:text-primary dark:hover:text-white',
                      { 'aw-link-active': href === currentPath },
                    ]}
                    href={href}
                  >
                    {text}
                  </a>
                )}
              </li>
            ))
        }
      </ul>
    </nav>

    <div class:list={['relative z-50 flex items-center justify-end md:flex-1']}>
      {showToggleTheme && <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />}

      <div class="ml-4 flex items-center md:hidden">
        <ToggleMenu />
      </div>
    </div>
  </div>
</header>
